name: ci

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  test:
    name: Run npm test in supported nodejs versions
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [20.x, 22.x, 24.x]
    steps:
    - name: Checkout project code
      uses: actions/checkout@v6
    - name: Setup Node.js ${{ matrix.node }}
      uses: pnpm/action-setup@v4
      with:
        node-version: ${{ matrix.node }}
    - run: pnpm ci
    - run: pnpm run build --if-present
    - run: pnpm run test:unit