name: coverage

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:

  build:
    name: Build
    if: "!contains(github.event.head_commit.author.name, 'versionist')"
    runs-on: ubuntu-latest
    steps:
    - name: Checkout project code
      uses: actions/checkout@v6
    - name: Setup Node.js
      uses: pnpm/action-setup@v4
      with:
        node-version: '24.x'
    - run: pnpm ci
    - run: pnpm run coverage
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}